.card-header {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  /*background-color: #f8f9fc;*/
  border-bottom: none;
}

.text-primary {
  color: #fff!important;
}

.border {
  border: 5px solid #e3e6f0!important;
}

.card-header:first-child {
  border-bottom: 5px rgb(34,41,248) solid;
}

.shadow {
  box-shadow: none;
}

.card.shadow.mb-4 {
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  /*min-width: 0;*/
  word-wrap: break-word;
  /*background-color: #fff;*/
  /*background-clip: border-box;*/
  /*border: 1px solid #e3e6f0;*/
  /*border-radius: .35rem;*/
}

.shadow {
  /*box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;*/
}

.card-header {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color: #f8f9fc;
  /*border-bottom: 1px solid #e3e6f0;*/
}

